[submodule "build/common-build"]
	path = build/common-build
	url = https://github.com/openairinterface/oai-cn5g-common-build.git
[submodule "ci-scripts/common-ci"]
	path = ci-scripts/common
	url = https://github.com/openairinterface/oai-cn5g-common-ci.git
[submodule "src/common-src"]
	path = src/common-src
	url = https://github.com/openairinterface/oai-cn5g-common-src.git
